repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^(.gitignore)
    -   id: end-of-file-fixer
        exclude: ^(.gitignore)
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.2
    hooks:
    -   id: ruff # Linter
        name: ruff-lint
        args: ["--fix", "--show-files"]
    -   id: ruff # isort replacement
        name: ruff-isort
        args: ["--select", "I", "--fix"]
    -   id: ruff-format # Format
        name: ruff-format
